/*  MEDIA QUERIES  */

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
}

/* Tablets and up (768px and up) */
@media (min-width: 768px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  // #_giphy_tv {
  // 	display: none;
  // }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  #contentContainer img.flavorImg {
    margin-top: 0;
  }

  #contentContainer img.flavorImg:first-child {
    margin-top: -140px;
  }
}

/* Medium sizes and below ----------- */
@media only screen and (max-width: 767px) {
  #skyline {
    height: 300px;
    background-size: 887px 300px;
    background-position: center 0px;
  }
  #title {
    margin: 10px auto 0px auto;
  }

  #contentContainer .flavorImg {
    margin-top: 0;
  }

  #contentContainer .flavorImg:first-child {
    margin-top: -140px;
  }
}

/* RETINA STUFF */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  #contentContainer .flavorImg {
    margin-top: 0;
  }

  #contentContainer .flavorImg {
    margin-top: -140px;
  }
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
}
